@media (max-width: 1024px) {
    .cabecalho {
        justify-content: center;
        flex-direction: column;
        height: 170px;
    }
    .cabecalho .menu {
        padding: 30px;
    }
    .home .informacoes{
        top: -65px
    }
    .home .informacoes .cruz-terco img {
        max-width: 170px;
    }
    .home .informacoes .titulo {
        font-size: 30px;
    }
    .home .informacoes .btn-saiba {
        font-size: 20px;
        width: 23%;
        height: 20%;
    }
    .home .informacoes .btn-armar {
        font-size: 20px;
        width: 24%;
        height: 20%;
    }
    .hist-gabriele .cartao {
        width: 100%;
        height: 100%;
    }
    .hist-gabriele .titulo {
        font-size: 30px;
    }
    .hist-duarte .cartao {
        width: 100%;
        height: 100%;
    }
    .hist-duarte .titulo {
        font-size: 30px;
    }
    .exorcismus .cartao {
        width: 100%;
        height: 100%;
    }
    .exorcismus .titulo {
        font-size: 30px;
    } 
}  
@media (max-width: 425px)
{
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        height: 100px;
    }
    .cabecalho .logo img{
        max-width: 60%;
        max-height: 80%;
        
    }
    .cabecalho li a{
        font-size: 5px;
    }
    .informacoes {
        max-width: 425px;
    }
}